@charset "UTF-8";
:root {
  --cor0: hsl(0, 0%, 100%); 
  --cor1: hsl(275, 100%, 97%);
  --cor2: hsl(292, 16%, 49%);
  --cor3: hsl(292, 42%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor1);
  height: 100vh;
  font-family: "Work Sans", sans-serif; 
  position: relative;
  width: 100vw;
}

.conteudo-principal {
  width: 550px;
  height: auto;
  background-color: var(--cor0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding-bottom: 20px;
}

.conteudo-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 36px 30px;
}

.conteudo-titulo h1 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: var(--cor3);
  
}

.conteudo-perguntas {
  position: relative;
}

.conteudo-perguntas div:nth-of-type(n+2) button {
  margin-top: 20px;
}

.conteudo-perguntas > dl > div:nth-child(-n+3)::after {
  content: '';
  display: block;
  width: 85%;
  height: 2px;
  background-color: var(--cor1);
  margin-top: 20px;
  margin-left: 30px;
}

.conteudo-perguntas dt {
  margin: 24px 0 15px 30px;
  font-weight: 700;
}

.js-accordion dt::after {
  content: '';
  background: url('../assets/images/icon-plus.svg') no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
  position: absolute;
  left: 470px;
}

.js-accordion dt.ativo::after {
  content: '';
  background: url('../assets/images/icon-minus.svg') no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
  position: absolute;
  left: 470px;
}

.conteudo-perguntas dd {
  color: var(--cor2);
  font-size: 0.895rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 50ch;
  padding-left: 30px;
}

.js-accordion dd {
  display: none;
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

.bg-image img {
  width: 100%;
  height: auto;
}

.attribution { 
  font-size: 1rem; 
  text-align: center;
  position: fixed; 
  bottom: 0;
  width: 100%;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 800px) {
  
  .conteudo-titulo h1 {
    font-size: 2rem;
  }

  .icon-star {
    width: 24px;
    height: 24px;
    gap: 25px;
  }

  .conteudo-principal {
    width: 375px;
    height: auto;
    background-color: var(--cor0);
    position: absolute;
    left: 50%;
    top: 50%;     
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .icon-plus,
  .icon-minus {
    position: absolute;
    left: 320px;
  }

  .conteudo-principal button {
    max-width: 30ch;
    line-height: 1.3;
    padding: 8px 30px;
    margin-top: -15px;
  }

  .conteudo-principal dd {
    max-width: 280px;
  }

  .attribution {
    font-size: 0.825rem;
  }
}